@font-face {
   font-family: 'Inter';
   src: url('../components/resources/fonts/Inter-Black.woff2') format('woff2'),
      url('../components/resources/fonts/Inter-Black.woff') format('woff'),
      url('../components/resources/fonts/Inter.ttf') format('truetype');
   font-style: normal;

}