.take {
   max-width: 100%;
   padding: 5px 40px;
   display: flex;
}

.black {
   width: 12px;
   height: 12px;
   border-radius: 50%;
   background-color: #000;
   margin-right: 8px;
}

.color-container {
   display: flex;
   align-items: center;
}

.black-text {
   color: #000;
   margin-right: 32px;
}

.grey {
   width: 12px;
   height: 12px;
   border-radius: 50%;
   background-color: gray;
   margin-right: 8px;
}

.gray-text {
   color: gray;
}

@media (max-width:500px) {
   .take {
      padding: 5px 10px;
   }
}